<footer class="footer">
  <span class="todo-count"
    ><strong> {{ totalTodosUncompleted }} </strong>
    {{ (totalTodosUncompleted == 1 ? 'item_left' : 'items_left') | translate }}</span
  >
  <ul class="filters">
    <li *ngFor="let filtro of filterList">
      <a [class.selected]="filter === filtro" href="#" (click)="changeFilter(filtro)">{{
        filtro | translate | titlecase
      }}</a>
    </li>
  </ul>
  <button *ngIf="totalTodosCompleted > 0" class="clear-completed" (click)="clearCompleted()">
    {{ 'clear_completed' | translate }}
  </button>
</footer>
